
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.AboutPage {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.page_header {
  position: relative;
  margin: auto;
  padding-top: 5px;
  background-color: #75809e;
  color: #000000;
}

.header
{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding-top:20px;  
}


.header {
  font-size: 30px;
}

.page_header p {
  font-size: 20px;
}

.member {
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  border: 1px solid grey;
  margin: 10px;
  padding: 65px;
  width: 65%;
  height: 100px;
}

.TeamMembers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamMembers h1 {
  font-size: 180%;
  float:inherit;
  margin-top:-15px;
}

.TeamMembers p {
  font-size: 20px;
  text-align: justify;
  margin-left:-20px;
}

@media screen and (max-width: 768px)
{
  .AboutPage {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  
  .page_header {
    position: relative;
    margin: auto;
    padding-top: 5px;
    background-color: #75809e;
    border-radius: 10px;
    color: #000000;
  }

.header
{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding-top:20px;  
}

.header {
  font-size: 30px;
}

.page_header p {
  font-size: 20px;
  margin:30px;
}

.member {
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  border: 1px solid grey;
  margin: 10px 15px;
  padding: 65px;
  width: auto;
  height: auto;
}

.TeamMembers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamMembers h1 {
  font-size: 180%;
  float:inherit;
  margin-top:-15px;
}

.TeamMembers p {
  font-size: 20px;
  text-align: justify;
  margin-left:-30px;

}
}