.AssetsPage {
  display: flex;
  flex-direction: column;
}

.mainContainer  {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: auto;
  border: 2px solid #ededed;
}

.gridContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-top: 2rem;
}

.gridItem {
  width: 280px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(102, 101, 107, 0.6);
  border: 2px solid #ededed;
  border-radius: 20px;
  padding: 20px 20px 60px 20px;
  margin: 10px;
  cursor: pointer;
}

.gridItem:hover
{
  transform: scale(1.02);
  transition: transform 0.3s;
}

.gridItem img {
  height: 60%;
  width: 260px;
  border-radius: 4px;
  border: 0;
  padding: auto;
}

.gridItem p {
  font-size: 20px;
  font-style: underline;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-price {
  text-align: center;
  margin: 1rem;
  font-size: 30px;
}

.gridItem button {
  width: 260px;
  margin: auto;
  padding: 10px 0px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.5s;
}

.add-to-cart-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#productTitle {
  font-weight: bold;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* Styling for the shopping cart */
.cart {
  display: block;
  border: 2px solid #000000; 
  border-radius: 10px; 
  padding: 70px 70px 20px 70px;
  max-width: 500px;

  margin: 0 auto;
  margin-bottom:10px;
  background-color: #f8f8f8;
}


/* Heading style */
.cart h2 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  margin-top:-30px;
  text-align: center;
  color: #007bff; /* Heading color */
}

/* List style */
.cart ul {
  list-style-type: none;
  padding: 0;
}

/* Cart item style */
.cart li {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Button style */
.cart button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 7px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px; /* Rounded corners */
}

.cart .addremove
{
  padding: 2px 7px 2px 7px;
   margin: 0 10px 0 8px; 
}

.cart .Remove {
  background-color: #eb8157;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px; /* Rounded corners */
}

.cart .Remove:hover {
  background-color: #d32f2f;
}

.cart .addremove:hover
{
  background-color: #06619e;
}

.cart .details {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  text-align: left;
}

.cart .total
{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
  padding:10px;
  border-radius: 20px;
}

.cart .checkout
{
  background-color: #007bff;
  color: #fff;
  border: none;
  margin:10px;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 768px)
{
  .SearchBar
  {
    background-color: #000000;
    width:auto;
  }

  .gridContainer {
    display: none;
    
  }

  .Categories
  {
    padding-bottom:15px;
    margin-bottom:10px;
  } 
}