
.Cart {
  background-color: #ffe262;
  border: 1px solid #cccccc00;
  border-radius: 25px;
  padding: 20px 400px 20px 400px;
  max-width: 600px;
  margin: 0 auto;
}

.Cart h2 {
  font-size: 1.5em;
  margin-top:10px;
  margin-bottom: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Cart ul {
  list-style-type: none;
  text-align: justify;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding:10px;
}

.Cart li {
  font-size: 1.1em;
  margin-bottom: 5px;
  
}


.EmptyCartMessage {
  color: #888;
  text-align: center;
}

.Cart #addremove
{
   padding: 2px 7px 2px 7px;
   margin: 0 8px 0 8px;   
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

button {
  margin-left: 10px; /* Adjust as needed */
  background-color: #beb164;
  border-radius: 10px;
}

#Remove
{
  background-color: #8d5915;
  border-radius: 10px;  
}

.Total
{
background-color: black;
border-radius: 20px;
padding:10px;
color:bisque;
font-size: 20px;
text-align: Left;
}
