#MainText {
  margin: 0 0 0 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  font-size: 50px;
  color: greenyellow;
}

body {
  background-size: cover;
  background: url("../../public/assets/images/background.jpg") no-repeat;
}

#GetStarted {
  position: absolute;
  top: 60%;
  left: 2.5%;
  transform: translateY(-50%);
  padding: 10px 35px;
  font-size: 20px;
  color: Black;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 20px;
  border: none;
  transition-duration: 0.5s;
}

#GetStarted:hover {
  opacity: 0.6;
  cursor: pointer;
}
